<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/home"><img src="assets/logo.png" class="navbar-brand" width="150px" height="70px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-doctors">Show Doctor Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-doctor">Add New Doctor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/patient-search">Get Patient Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-patient">Add New Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data">Complete Data Display</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>