<div class="container">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add New Doctor Record</li>
      </ol>
    </nav>
    <div class="col-md-12">
      <div class="card-body">
        <div class="card my-5">
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" #userForm="ngForm">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="doctor.name" class="form-control" id="name" name="name"
                  placeholder="Enter your name" required #name="ngModel">
              </div>
              <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>

              <div class="form-group">
                <label for="age"> Age</label> <br>
                <input type="number" [(ngModel)]="doctor.age" id="age" name="age" #age="ngModel" min="5" max="100">
              </div><br />

              <div class="form-group">
                <label for="gender"> Gender</label> <br>
                <input type="radio" [(ngModel)]="doctor.gender" name="gender" value="M" #age="ngModel">M
                <input type="radio" [(ngModel)]="doctor.gender" name="gender" value="F" #age="ngModel">F
              </div><br />

              <div class="form-group">
                <label for="options">Select Specialisation:</label>
                <div *ngFor="let option of options">
                  <label>
                    <input type="checkbox" name="options" value="{{option.value}}" [(ngModel)]="option.checked" />
                    {{option.name}}
                  </label>
                </div>
              </div><br />

              <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>